.maincontainer {
    margin-left: 100px;
    margin-right: 100px;
    width: 1480px;
}

.logo a {
    text-decoration: none;
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}

a span.logo {
    text-decoration: none font-family: 'Myriad Pro';
    color: #4bcaff;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
}

.top-menu {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #35444f;
        width: 1280px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-menu ul {
    text-align: center;
}

.top-menu li {
    padding: 22px 30px;
    text-align: center;
    display: inline-block;
    font-family: 'Myriad Pro';
    font-size: 24px;
    }

.top-menu a {
    text-decoration: none;
    color: white;
}

.top-menu li:hover {
    background-color: #222f3a;
}

.container1 {
    width: 1280px;
}

div.side-menu {
    display: inline-block;
    float: left;
    width: 344px;
    height: 430 px;
    border: 1px solid black;
    font-family: 'Myriad Pro';
    color: #495863;
    text-align: left;
}

.side-menu li {
    padding-left: 45px;
    font-family: 'Myriad Pro';
    color: #000000;
    font-size: 27px;
    line-height: 89px;
    text-align: left;
    }

.side-menu a {
    text-decoration: none;
    color: black;
}

.side-menu a:hover {
    margin-left: 30px;
    background-color: #dcdcdc;
}

.main-img {
    float: right;
    display: inline-block;
    overflow:hidden;
    width: 885px;
    height: 529px;
    border: 1px solid black;
}

.main-img img{
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }

.main-img img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }





article{
    margin: 50px 170px 50px 395px;
    width: 885px;
   }

.clear{
    clear: both;
}
p {
    font-family: 'Myriad Pro';
    margin-bottom: 30px;
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

footer {
    width: 1280px;
    height: 70px;
    padding-left: 45px;
    padding-bottom: 21px;
    background-color: #b5b8bb;
}

.footer-menu ul {
    text-align: left;
}

.footer-menu li {
    padding-left: 20px;
    display: inline-block;
    font-family: 'Myriad Pro';
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
}

.footer-menu a {
    list-style-type: none;
    /* Убираем маркеры */
    text-decoration: none;
    color: black;
}

.footer-menu a:hover {
    color: #2d82a7;
    text-decoration: underline;
}

li.copy {
    padding-left: 220px;
   
}
